<div class="container-fluid sticky-top bg-white shadow-sm">
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
      <a href="/" class="navbar-brand">
        <img src="/img/damv.png" alt="Medinova Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          
          <a href="/" class="nav-item nav-link <%=link==="index" && "active" %>"><%=resources.home%></a>
          <a href="/about" class="nav-item nav-link <%=link==="about" && "active" %>"><%=resources.about%></a>
          <a href="/joinUs" class="nav-item nav-link <%=link==="joinUs" && "active" %>"><%=resources.joinUs%></a>

          <a href="/members" class="nav-item nav-link <%=link==="members" && "active" %>"><%=resources.reyaset%></a>
          <a href="/allMembers" class="nav-item nav-link <%=link==="allMembers" && "active" %>"><%=resources.uzvluk%></a>

          <a href="/news" class="nav-item nav-link <%=link==="news" && "active" %>"><%=resources.news%></a>
          <a href="/projects" class="nav-item nav-link <%=link==="projects" && "active" %>"><%=resources.project%></a>


          <% if(user) { %>

            <a href="/users/dashboard" class="nav-item nav-link <%=link==="dashboard" && "active" %>"><%=resources.dashboard%></a>
            <a href="/logout" class="nav-item nav-link"> <%=resources.logout%> </a>

              <% if(user.role=="admin") { %>

                <a href="/admin" class="nav-item nav-link ">Admin</a>
            
    
                  
    
                <% }%>

                
            </a>
            <% }else{ %>

              <a href="/login" class="nav-item nav-link <%=link==="login" && "active" %>"> <%=resources.login%>
              </a>
              <a href="/register" class="nav-item nav-link <%=link==="register" && "active" %>">
                <%=resources.register%> 
              </a>
              <% } %>

              <div class="dropdown mt-4 mx-1" style="margin-top: 1.4rem !important;">
                <button class="btn btn-secondary dropdown-toggle custom-dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-globe"></i> <%=resources.language%>
                </button>
                <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="languageDropdown">
                  <li><a class="dropdown-item language-dropdown-item changeLang" href="#" onclick="changeLanguage('az')">AZ</a></li>
                  <li><a class="dropdown-item language-dropdown-item changeLang" href="#" onclick="changeLanguage('ge')">DE</a></li>
                  <li><a class="dropdown-item language-dropdown-item changeLang" href="#" onclick="changeLanguage('tr')">TR</a></li>
                </ul>
              </div>

        </div>
      </div>
    </nav>
  </div>
</div>
<script>

function changeLanguage(lang) {
  var currentUrl = encodeURIComponent(window.location.href);

  // Modify the href attribute of each dropdown item
  var dropdownItems = document.getElementsByClassName('changeLang');
  for (var i = 0; i < dropdownItems.length; i++) {
    var dropdownItem = dropdownItems[i];
    var returnUrl = dropdownItem.getAttribute('data-lang') === lang ? currentUrl : 'CurentUrl';
    var modifiedUrl = '/changeLanguage?lang=' + lang + '&returnUrl=' + currentUrl;
    dropdownItem.setAttribute('href', modifiedUrl);
  }
  
  // Toggle dropdown menu
  var dropdownMenu = document.querySelector('.custom-dropdown-menu');
  var dropdownToggle = document.querySelector('.custom-dropdown-toggle');
  dropdownMenu.classList.toggle('show');
  dropdownToggle.setAttribute('aria-expanded', dropdownMenu.classList.contains('show'));
}

// Close dropdown menu when clicking outside
document.addEventListener('click', function (event) {
  var dropdownToggle = document.querySelector('.custom-dropdown-toggle');
  var dropdownMenu = document.querySelector('.custom-dropdown-menu');

  if (!dropdownToggle.contains(event.target)) {
    dropdownMenu.classList.remove('show');
    dropdownToggle.setAttribute('aria-expanded', 'false');
  }
});
</script>
<style>
  
  .navbar-brand img {
    width: 160px !important;   /* Logo genişliği */
    height: 60px !important; /* Logo yüksekliği otomatik olarak ayarlanır */
    margin-right: 10px !important; /* İsteğe bağlı: Logo ile metin arasında sağ boşluk */
  }

  .navbar-nav .nav-link {
    font-size: 14px;
  }

  .custom-dropdown-toggle {
    background: none;
    border: none;
    color: #000;
    padding: 0;
    cursor: pointer;
  }

  .custom-dropdown-menu {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .language-dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .language-dropdown-item:hover {
    background-color: #f8f9fa;
  }
</style>