
<%- include("partials/_header")  %>


<body>
    <!-- Topbar Start -->
     
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <%- include("partials/_navbar")  %>

    <!-- Navbar End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100  rounded"  src="<%=about.url %>" style="object-fit: cover ;height: 80%;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">About Us</h5>
                        <h1 class="display-4"><%=about.title %></h1>
                    </div>
                    <p><%=about.description %></p>
                    <div class="row g-3 pt-3">
                        <div class="col-sm-3 col-12">
                            <div class="bg-light text-center rounded-circle py-4">
                                <a href="<%=about.fb %>"><i class="fab fa-facebook fa-3x text-primary mb-3"></i>
                                    <h6 class="mb-0">facebook<small class="d-block text-primary"></small></h6></a>
                                
                            </div>
                        </div>
                        <div class="col-sm-3 col-12">
                            <div class="bg-light text-center rounded-circle py-4">
                                <a href="<%=about.inst %>"><i style="color: #d72139 !important;" class="fab fa-instagram  fa-3x text-primary mb-3"></i>
                                    <h6 class="mb-0">instagram<small class="d-block text-primary"></small></h6></a>
                                
                            </div>
                        </div>
                        <div class="col-sm-3 col-12">
                            <div class="bg-light text-center rounded-circle py-4">
                                <a href="<%=about.youtube %>"><i style="color: red !important;"  class="fab fa-youtube fa-3x text-primary mb-3"></i>
                                    <h6 class="mb-0">youtube<small class="d-block text-primary"></small></h6></a>
                                
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Search Start -->
   


    <!-- Footer Start -->
    <%- include("partials/_footer")  %>
