<%- include("partials/_header") %>

    <body>
        <!-- Topbar Start -->

        <!-- Topbar End -->


        <!-- Navbar Start -->
        <%- include("partials/_navbar") %>

            <!-- Navbar End -->

            <style>
                .alert {
                    animation: slideInRight 0.5s;
                }

                @keyframes slideInRight {
                    0% {
                        transform: translateX(100%);
                    }

                    100% {
                        transform: translateX(0);
                    }
                }
            </style>
           

                    <!-- Contact Start -->
                    <div class="row justify-content-center position-relative" style="z-index: 1;">
                        <div class="col-lg-8">
                            <div class="bg-white rounded p-3 m-3 mb-0">
                                <form id="request" class="main_form" action="users/login" method="POST">
                                    <div class="row g-3">
                                        <div class="text-center mx-auto mb-3" style="max-width: 24rem;">
                                            <h2
                                                class="d-inline-block text-primary text-uppercase border-bottom border-5">
                                                Login</h2>
                                                <% if(typeof(data)!='undefined' ) { %>

                                                    <div class="fixed-top  position-relative" style="width: 20rem; right: 0; top: 0;">
                                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                          <%= data.message %>
                                                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                        </div>
                                                      </div>
                                                      
                                    
                                                    <% }%>

                                        </div>

                                        <div class="col-12 col-sm-12">
                                            <input type="text" name="username" class="form-control bg-light border-0"
                                                placeholder="Username" style="height: 55px;">
                                        </div>

                                        <div class="col-12">
                                            <input type="password" name="password"
                                                class="form-control bg-light border-0" placeholder="Password"
                                                style="height: 55px;">
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100 py-3" type="submit">
                                                <%=resources.login%>

                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Contact End -->


                    <!-- Footer Start -->
                    <%- include("partials/_footer") %>