<%- include("partials/_header") %>
    <!-- head end -->

    <body>
        <!-- Navbar Start -->
        <%- include("partials/_navbar") %>

            <!-- Navbar End -->






                <!-- About Start -->
                
                <div class="container-fluid py-5">
                    <div class="container">
                        <div class="row gx-5">
                            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute w-100 h-100 rounded" src="/img/about.jpg"
                                        style="object-fit: cover;">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="mb-4">
                                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">ABOUT PROJECT</h5>
                                    <h1 class="display-4"><%= project.project_title %></h1>
                                </div>
                                <p> <%= project.project_description %></p>
                                <div class="row g-3 pt-3">
                                    <div class="col-sm-3 col-6">
                                        <div class="bg-light text-center rounded-circle py-4">
                                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                                            <h6 class="mb-0">Qualified<small class="d-block text-primary">Doctors</small>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6">
                                        <div class="bg-light text-center rounded-circle py-4">
                                            <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                                            <h6 class="mb-0">Emergency<small class="d-block text-primary">Services</small>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6">
                                        <div class="bg-light text-center rounded-circle py-4">
                                            <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                                            <h6 class="mb-0">Accurate<small class="d-block text-primary">Testing</small>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-6">
                                        <div class="bg-light text-center rounded-circle py-4">
                                            <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                                            <h6 class="mb-0">Free<small class="d-block text-primary">Ambulance</small>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <!-- About End -->





<!-- Footer Start -->
<%- include("partials/_footer") %>
<!-- Footer End -->