<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnesCraft - UGT Item</title>
</head>
<body>
    <center>
        Ana Menü : <a href="/">İçin Tıkla</a>
    <br>
    Resmi : <img src="<%= imgURL %>" alt="">
    <br>
    <br>
    Adı : <%= name %>
    <br>
    <br>
    Yapımcı : <%= author %>
    <br>
    <br>
    İd : <%= id %>
    <br>
    <br>
    <button>Not: Bağlantı günevli olmayabilir! İndirme İçin: <a href="<%= downloadURL %>">Buraya Tıklayın</a></button>

    </center>
    
</body>
</html>