<div class="tab-pane show active" id="home-b1">
    <!-- <div class="btn-group mb-2">
        <button class="btn btn-light btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="background: rgba(255, 255, 255, 0.8);">
            <span class="point"><i> Point: terbanyak </i></span><i class="mdi mdi-chevron-down"
                style="color: rgba(0, 0, 0, 0.2);"></i>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Terbanyak</a>
            <a class="dropdown-item" href="#">Tersedikit</a>
        </div>
    </div>
    <div class="btn-group mb-2">
        <button class="btn btn-light btn-lg dropdown-toggle ms-2" type="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="background: rgba(255, 255, 255, 0.8);">
            <span class="point"><i> Sort By: Date </i></span><i class="mdi mdi-chevron-down"
                style="color: rgba(0, 0, 0, 0.2);"></i>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Terlama</a>
            <a class="dropdown-item" href="#">Terbaru</a>
        </div>
        <div class="input-group ms-3">
            <button type="button" class="btn btn-warning text-white">Cari</button>
            <button type="button" class="btn btn-warning"><i data-feather="refresh-cw"
                    class="icon-dual text-white"></i></button>
        </div>
    </div> -->

    <table class="table">
        <thead style="background: #FF9C22;">
            <tr style="color: #fff;">
                <th>GAMBAR</th>
                <th>NAMA PRODUCT</th>
                <th>POINT</th>
                <th>HARGA</th>
                <th>TOTAL</th>
                <th>TGL PENGIRIMAN</th>
                <th>JUMLAH</th>
                <th>ACTION</th>
            </tr>
        </thead>
    </table>
    <% let no=1; transaksi.forEach(item=> {
        const filteredProduk = item.idProduk.filter(p => p.produk.kategori
        ===
        filter);
        if (filteredProduk.length > 0) {
        let totalBayar = 0;
        %>
        <!-- Konten Card Transaksi -->
        <div class="card">
            <!-- Header Card -->
            <div class="card-header" style="background: rgba(255, 154, 2, 0.08)">
                <!-- Baris Header -->
                <div class="row">
                    <div class="col-lg-6">
                        <img src="/images/users/user-7.jpg" alt="image" class="img-fluid avatar-sm rounded-circle" />
                        <span class="ms-2">
                            <%= item.idCustomer.nama %>
                        </span>
                        <span class="ms-2">
                            <%= item.idCustomer.nomorTelepon %>
                        </span>
                    </div>
                    <div class="col-lg-6" style="text-align:end;">
                        <span>No pemesanan</span>
                        <span>:</span>
                        <span>
                            <%= no++ %>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Body Card -->
            <div class="card-body">
                <% filteredProduk.forEach(produk=> { %>
                    <!-- Konten Produk -->
                    <div class="row">
                        <div class="col-1">
                            <img src="/images/Toko/kue.png" alt="" width="75">
                        </div>
                        <div class="col-2 ms-3">
                            <p>
                                <%= produk.produk.namaProduk %>
                            </p>
                        </div>
                        <div class="col-1" style="margin-left: 4%;">
                            <p>
                                <%= produk.produk.bobotTenaga %>
                            </p>
                        </div>
                        <div class="col-1" style="margin-left: 0%;">
                            <%= produk.produk.hargaProduk %>
                        </div>
                        <div class="col-1 text-center">
                            <%= produk.produk.hargaProduk * produk.jumlah %>
                        </div>
                        <div class="col text-center ms-4">
                            <%= item.reqTglPesan %>
                        </div>
                        <div class="col text-center" style="margin-left: 5%;">
                            <p>
                                <%= produk.jumlah %>
                            </p>
                        </div>
                        <div class="col d-flex align-items-start">
                            <form
                                action="/admin/deleteTransaksi/<%= item._id %>/<%=  produk.produk._id %>/<%= produk.jumlah %>?_method=DELETE"
                                method="POST">
                                <button type="submit" class="btn btn-danger rounded-pill waves-effect waves-light mx-2">
                                    <i class="fas fa-times"></i>
                                </button>
                            </form>
                            <form
                                action="/admin/moveTransaksiDalamProses/<%= item._id %>/<%=  produk.produk._id %>/<%= produk.jumlah %>"
                                method="POST">
                                <button type="submit" class="btn btn-success rounded-pill waves-effect waves-light">
                                    <i class="fas fa-check"></i>
                                </button>
                            </form>
                        </div>

                    </div>
                    <% totalBayar +=produk.produk.hargaProduk * produk.jumlah; }); %>
                        <!-- Baris Received dan Pengiriman -->
                        <div class="row ">
                            <div class="col-lg-5"></div>
                            <div class="col-lg-7 ">
                                <div class="received">
                                    <span>Tgl Pesan</span><span> :
                                    </span><span>
                                        <%= item.tglPesan %>
                                    </span>
                                    <span class="ms-3">Total
                                        Bayar</span><span>:</span><span>
                                        <%= totalBayar %>
                                    </span>
                                    <span class="ms-3">Alamat
                                        Kirim</span><span>:</span><span>
                                        <%= item.alamatPengiriman %>
                                    </span>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
        <% } }); %>
</div>