extends base
include mixins/card
block content
  div.board-form-wrapper  
    h3.title-name #{user.name} Profile
    img(src=`${user.avatar ? (isHeroku ? user.avatar : "/" + user.avatar) : "/image/cafe_logo.png"}` width="100" height="100")
    div.modal__btn.none
      button(onclick="onClick()") ItemList
  div.content-box
    each board in user.boards.reverse() 
      +boardMixins(board)
    else
      span
      span.end-box ì•„ì§ ê²Œì‹œë¬¼ì´ ì—†ì–´ìš”
      span.center-box ðŸ™„

  div.item-list.none
    div.item-list__info 
      div.item-list__title
        h2 My Item List 
        i(onclick="onClick()").fas.fa-times
      div.item-list__content-wrapper
        each order in user.orders.reverse()
          div.item-list__content
            ul.item-list__number
              li 
                img.download__img(src=`${"/" + order.item.itemImg}`)
                p #{order.merchantUid}
            ul.item-list__datas
              if order.status === "ready"
                li 
                  span ê²°ì œìƒíƒœ: 
                  span ëŒ€ê¸°ì¤‘
              else
                li 
                  span ê²°ì œìƒíƒœ: 
                  span ì™„ë£Œ
              li 
                span ê²°ì œë°©ë²•: 
                span #{order.payMethod === "vbank" ? "ê°€ìƒê³„ì¢Œ" : "ì¼ë°˜ê²°ì œ"}
              li 
                span ê°€ê²©: 
                span #{order.amount}ì› ðŸ’°
            ul.item-list__btn
              li
                button.download(onclick="onDownload()") Download
                a.download__link.none(href=`${"/" + order.item.itemImg}` download=`${order.item.name}`) 
            ul.item-list__btn                    
              li
                button.refund(onclick="onRefund()") í™˜ë¶ˆ
        else
          span
          span.end-box ì•„ì§ êµ¬ë§¤í•˜ì‹  ìƒí’ˆì´ ì—†ì–´ìš”
          span.center-box ðŸ™„
    script.
      const itemList = document.querySelector(".item-list");
      const itemListBtn = document.querySelector(".modal__btn");
      const modalCloseBtn = itemList.querySelector("i");
      const userId = location.pathname.split("/").reverse()[0];
      const downloadLink = document.querySelector(".download__link");
      if(userId === "#{loggedInUser._id}") {
        itemListBtn.classList.remove("none");
      } else {
        itemList.remove();
        itemListBtn.remove();
      }

      let isShow = true;
      const onClick = () => {
        if(isShow) {
          document.body.style.overflow = "hidden";
          itemList.classList.remove("none");
          isShow = false;
        } else {
          document.body.style.overflow = "unset";
          itemList.classList.add("none");
          isShow = true;
        }
      }
      const onRefund = () => {
        if(userId !== "#{loggedInUser._id}") {
          alert("ë³¸ì¸ì´ ì•„ë‹ˆë©´ í™˜ë¶ˆí•˜ì‹¤ìˆ˜ ì—†ìŠµë‹ˆë‹¤");
          location.href = "/";   
          return;
        }
        const check = confirm("í™˜ë¶ˆì„ ì§„í–‰í•˜ì‹œê² ìŠµë‹ˆê¹Œ?");
        if(check) {
          document.body.style.overflow = "unset";
          itemList.classList.add("none");
          isShow = true;
        }
      }
      const onDownload = () => {
        downloadLink.click();
      }



