<%- include("../partials/_nav")  %>

    <!-- Main Content -->
    <div class="container mt-4">
        <h1>update news</h1>

        <div class="card mt-4">
            <div class="card-header">
               update news
            </div>
            <div class="card-body">
                <form action="<%=news_._id%>" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name" class="form-label">title</label>
                        <input type="text" class="form-control" id="name" value="<%=news_.titleAz  %>" name="titleAz">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">title</label>
                        <input type="text" class="form-control" id="name" value="<%=news_.titleGe  %>" name="titleGe">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">description az</label>
                        <input type="text" class="form-control"  value="<%=news_.descriptionAz  %>" name="descriptionAz">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">description de</label>
                        <input type="text" class="form-control"  value="<%=news_.descriptionGe  %>" name="descriptionGe">
                    </div>
                    <label for="category" class="form-label">category</label>

                    <select id="category" name="categoryId" class="form-select">
                        <% categories.forEach(function(category) { %>
                          <option value="<%= category._id %>" <%= category._id.toString() === news_.categoryId.toString() ? "selected" : "" %>>
                            <%= category.catNameAz %>
                          </option>
                        <% }); %>
                      </select>
                    <div class="mb-3">
                        <label for="photo" class="form-label">choose photo</label>
                        <input class="form-control" type="file" id="photo" name="image" >
                    </div>
                    <div class="mb-3">
                        <label for="photo" class="form-label">choose photos</label>
                        <input class="form-control" type="file" id="photo" name="images" multiple >
                    </div>
                    <button type="submit" class="btn btn-primary">update</button>
                </form>
            </div>
        </div>
    </div>

    <%- include("../partials/_footer")  %>