<%- include("../partials/_nav")  %>

    <!-- Main Content -->
    <div class="container mt-4">
        <h1>update news</h1>

        <div class="card mt-4">
            <div class="card-header">
               update news
            </div>
            <div class="card-body">
                <form action="<%=cat._id%>" method="post" >
                    <div class="mb-3">
                        <label for="name" class="form-label">title</label>
                        <input type="text" class="form-control" id="name" value="<%=cat.catNameAz  %>" name="catNameAz">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">title</label>
                        <input type="text" class="form-control" id="name" value="<%=cat.catNameGe  %>" name="catNameGe">
                    </div>
                   

                   
                    <button type="submit" class="btn btn-primary">update</button>
                </form>
            </div>
        </div>
    </div>

    <%- include("../partials/_footer")  %>